Console_LibraryOwner/Connected Services/WCF_LibraryManager/LibraryManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63962/LibraryManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63962/LibraryManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63962/LibraryManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_BookLibrary" />
      <xsd:import schemaLocation="http://localhost:63962/LibraryManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_LibraryManagerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryManager_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetBooksBySubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksBySubject" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetBooksBySubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksBySubjectResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetBooksByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetBooksByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetBooksByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByCode" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetBooksByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_UpdateToBorrowed_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToBorrowed" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_UpdateToBorrowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToBorrowedResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_UpdateToAvaible_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToAvaible" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_UpdateToAvaible_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToAvaibleResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetLoan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoan" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetLoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetLoansFromClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoansFromClient" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_GetLoansFromClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoansFromClientResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryManager">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/AddBook" message="tns:ILibraryManager_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/AddBookResponse" message="tns:ILibraryManager_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/GetAllBooks" message="tns:ILibraryManager_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/GetAllBooksResponse" message="tns:ILibraryManager_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksBySubject">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/GetBooksBySubject" message="tns:ILibraryManager_GetBooksBySubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/GetBooksBySubjectResponse" message="tns:ILibraryManager_GetBooksBySubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/GetBooksByAuthor" message="tns:ILibraryManager_GetBooksByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/GetBooksByAuthorResponse" message="tns:ILibraryManager_GetBooksByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/GetBooksByCode" message="tns:ILibraryManager_GetBooksByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/GetBooksByCodeResponse" message="tns:ILibraryManager_GetBooksByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToBorrowed">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/UpdateToBorrowed" message="tns:ILibraryManager_UpdateToBorrowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/UpdateToBorrowedResponse" message="tns:ILibraryManager_UpdateToBorrowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToAvaible">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/UpdateToAvaible" message="tns:ILibraryManager_UpdateToAvaible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/UpdateToAvaibleResponse" message="tns:ILibraryManager_UpdateToAvaible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/GetLoan" message="tns:ILibraryManager_GetLoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/GetLoanResponse" message="tns:ILibraryManager_GetLoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoansFromClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/GetLoansFromClient" message="tns:ILibraryManager_GetLoansFromClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/GetLoansFromClientResponse" message="tns:ILibraryManager_GetLoansFromClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryManager" type="tns:ILibraryManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksBySubject">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/GetBooksBySubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/GetBooksByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByCode">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/GetBooksByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToBorrowed">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/UpdateToBorrowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToAvaible">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/UpdateToAvaible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/GetLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansFromClient">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/GetLoansFromClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryManager">
    <wsdl:port name="BasicHttpBinding_ILibraryManager" binding="tns:BasicHttpBinding_ILibraryManager">
      <soap:address location="http://localhost:63962/LibraryManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>